{% extends 'base.html' %}

{% block title %}
    {{ course.title | truncatewords:1 }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="mt-5">
        {{ category.category_name }}
    </h1>
    {% for subcategory in subcategories %}
        {% if subcategory.subcategory_name != category.category_name %}
            <button>{{ subcategory.subcategory_name }}</button>
        {% endif %}
    {% endfor %}

    {% for course in courses %}
        {% include 'courses/includes/course_card_template.html' %}
    {% endfor %}
{% endblock %}