{% extends 'base.html' %}

{% block title %}
    {{ course.title | truncatewords:1 }} - {{ block.super }}
{% endblock %}

{% block content %}
    Ххх{{ category }}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'courses_list_url' %}">Главная страница</a></li>
            <li class="breadcrumb-item"><a href="{{ category.get_absolute_url }}">{{ category.category_name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ category.get_absolute_url }}">{{ subcategory.subcategory_name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
        </ol>
    </nav>

    <h1 class="mt-5">
        {{ course.title }}
    </h1>
    <p>
        <a href="{{ course.materials }}" class="btn btn-primary">Материалы к курсу</a>
        <a href="{{ course.archives }}" class="btn btn-primary">Скачать весь курс</a>
    </p>
    <p>
        <video src="{{ video.links }}" width="480" height="270" poster="{{ course.image }}" controls="controls"></video>
        <form>
            {% for video in videos %}
                <a href="{{ video.links }}" class="btn btn-primary">{{ video.links }}</a>
{#                <button>{{ video.links }}</button>#}
            {% endfor %}
        </form>
    </p>
{% endblock %}
