{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <title>
            {% block title %}
                Курсы
            {% endblock %}
        </title>
    </head>
    <body>

        <div class="container-fluid mt-5 mb-5">
            <div class="row">
                <div class="col-md-2">
                    <form class="form-inline my-2 my-lg-0" action="{% url 'courses_list_url' %}">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                               name="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    {% block category %}
                        {% for category in categories %}
                            <br><a href="{{ category.get_absolute_url }}">{{ category.category_name }}</a>
                        {% endfor %}
                    {% endblock %}
                </div>

                <div class="col-md-8">
                    {% block content %}
                        Нечего отображать
                    {% endblock %}

                    {% if is_paginated %}
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                <li class="page-item {% if not prev_page_url %} disabled {% endif %}">
                                    <a class="page-link" href="{{ prev_page_url }}" tabindex="-1" aria-disabled="true">Предыдущая</a>
                                </li>

                                {% for page in courses.paginator.page_range %}
                                    {% if courses.number == page %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="?page={{ page }}">{{ page }} из {{ courses.paginator.num_pages }}<span
                                                    class="sr-only">(current)</span></a>
                                        </li>
                                    {% elif page > courses.number|add:-3 and page < courses.number|add:3 %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}


                                <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                                    <a class="page-link" href="{{ next_page_url }}" tabindex="-1" aria-disabled="true">Следующая</a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                </div>

                <div class="col-md-2">
                     <p>Реклама</p>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
    </body>
</html>
