<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ course.image }}" height="250" width="400"  alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="card-text">{{ course.description | truncatewords:30 | striptags}}</p>
                <p class="card-text"><small class="text-muted">{{ course.language }} {{ course.added_date }}</small></p>
                <p class="card-text">
                    <a href="{{ course.get_absolute_url }}" class="btn btn-primary">Посмотреть</a>
                </p>
            </div>
        </div>
    </div>
</div>
